@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var hostname = Environment.GetEnvironmentVariable("HOSTNAME");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>hostname: @hostname</p>
</div>
